input.search-field {
    background: none;
    border-right: none;
    border-bottom-color: white;
}
button.btn-search {
    color: white;
    background: none;
    border: none;
}
form.search-form {
    margin: auto 26px;
}